{
	"env": {
		"development": {
			"presets": [["env", { "modules": false }], "flow", "react", "stage-0"],

			"plugins": [
				"react-hot-loader/babel",
				"transform-decorators-legacy",
				["transform-class-properties", { "loose": true }],
				"jsx-control-statements",

				[
					"sitrep",
					{
						"label": "inspect"
					}
				],

				[
					"webpack-alias",
					{
						"config": "./.webpack.js"
					}
				],

				[
					"flow-runtime",
					{
						"assert": true,
						"annotate": true
					}
				],

				[
					"react-css-modules",
					{
						"generateScopedName": "[local]--[name]",
						"context": "./source/app",
						"webpackHotModuleReloading": true,
						"handleMissingStyleName": "warn"
					}
				]
			]
		},

		"test": {
			"presets": [["env", {}], "flow", "react", "stage-0"],

			"plugins": [
				"react-hot-loader/babel",
				"transform-decorators-legacy",
				["transform-class-properties", { "loose": true }],
				"jsx-control-statements",

				[
					"sitrep",
					{
						"label": "inspect"
					}
				],

				[
					"webpack-alias",
					{
						"config": "./.webpack.js"
					}
				],

				[
					"flow-runtime",
					{
						"assert": true,
						"annotate": true
					}
				],

				[
					"react-css-modules",
					{
						"generateScopedName": "[local]--[name]",
						"context": "./source/app",
						"webpackHotModuleReloading": true,
						"handleMissingStyleName": "warn"
					}
				]
			]
		}
	}
}
