.EventTypeBox {
	max-width: 48px;
	max-height: 48px;
	min-width: 48px;
	min-height: 48px;
  box-shadow: squareShadow;
  transition: all 0.3s;
  border-radius: 1px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
	margin-bottom: 32px;
	z-index: 0;
}

.EventTypeBox:hover {
  box-shadow: squareShadow-hovered;
  transform: scale(1.025);
}

.red {
	background: redGradient;
	box-shadow: -3px -4px 24px -4px rgba(231, 72, 76, 0.9), 3px 4px 24px -4px rgba(233, 70, 137, 0.5);
}

.blue {
	background: blueGradient;
	box-shadow: -3px -4px 24px -4px rgba(104, 117, 255, 0.9), 3px 4px 24px -4px rgba(57, 221, 255, 0.5);
}

.green {
	background: greenGradient;
	box-shadow: -3px -4px 24px -4px rgba(132,167,221,0.5), 3px 4px 24px -7px rgba(184,245,212,0.7);
}

.icon {
	filter: iconShadow;
}