* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
div,
section,
header,
footer,
nav,
aside {
  box-sizing: border-box;
  display: row;
}

html {
  background: dotBackground;
  background-size: dotSpace dotSpace;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: column;
  background: linear-gradient(45deg, rgba(0,0,0,0), rgba(35,41,54,0.05));
	width: 100vw;
	max-width: 100vw;
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
	font-family: ProximaNova;
	color: white;
}

:global .scene {
	overflow-y: scroll;
	padding: 24px 24px 120px;
}

:global .scene::-webkit-scrollbar {
	background: dark3;
}

:global .scene::-webkit-scrollbar-thumb {
	background: dark3;
}

:global .scene::-webkit-scrollbar-track {
	background: dark4;
}