@font-face {
	src: url('@app/assets/fonts/ProximaNovaRegular.woff');
	font-family: 'ProximaNova';	
}

@font-face {
	src: url('@app/assets/fonts/ProximaNovaBold.woff'),
		url('@app/assets/fonts/ProximaNovaBold.woff2'),
		url('@app/assets/fonts/ProximaNovaBold.ttf');
	font-family: 'ProximaNovaBold';	
}

@font-face {
	src: url('@app/assets/fonts/ProximaNovaThin.woff'),
		url('@app/assets/fonts/ProximaNovaThin.woff2'),
		url('@app/assets/fonts/ProximaNovaThin.ttf');
	font-family: 'ProximaNovaThin';	
}