dotColor = #343a50;
dotSpace = 75px;
dotSize = 2px;

dark0 = #1C1E29;
dark1 = #1f2535;
dark2 = #7F6E8C;

red0 = #E7484C;
red1 = #E94689;

redGradient = linear-gradient(-40deg, red0, red1);
blueGradient = linear-gradient(-40deg, blue0, blue1);
greenGradient = linear-gradient(-40deg, blue2, green0);

squareShadow = 2px 3px 24px -8px rgba(0, 0, 0, 0.5);
squareShadow-hovered = 2px 3px 18px rgba(0, 0, 0, 0.6);

blue0 = #6875FF;
blue1 = #39DDFF;
blue2 = #84A7DD;

green0 = #B8F5D4;

darkGradient = linear-gradient(50deg, rgba(dark0, 0.1), rgba(dark1, 0.75));
dotBackground = linear-gradient(90deg, dark0 (dotSpace - dotSize), transparent 1%) center,
	linear-gradient(dark0 (dotSpace - dotSize), transparent 1%) center, dotColor;