dotColor = #343a50;
dotSpace = 75px;
dotSize = 2px;

// dark0 = #1C1E29;
// dark1 = #1f2535;
dark0 = #1C1F2C;
dark1 = #232936;
dark2 = #7F6E8C;
dark3 = #30364a;
dark4 = #242A3B;

red0 = rgba(231, 72, 76, 1);
red1 = rgba(233, 70, 137, 1);

redGradient = linear-gradient(-40deg, red0, red1);
blueGradient = linear-gradient(-40deg, blue0, blue1);
greenGradient = linear-gradient(-40deg, blue2, green0);

iconShadowPink = drop-shadow(-2px 2px 2px rgba(232,69,137,0.5));

squareShadow = 2px 3px 24px -8px rgba(0, 0, 0, 0.5);
squareShadow-hovered = 2px 3px 18px rgba(0, 0, 0, 0.3);

blue0 = rgba(104, 117, 255, 1);
blue1 = rgba(57, 221, 255, 1);
blue2 = rgba(132, 167, 221, 1);

green0 = rgba(184, 245, 212, 1);

darkGradient = linear-gradient(50deg, rgba(dark0, 0.1), rgba(dark1, 0.75));
grayGradient = linear-gradient(45deg, #272d3d, #292e3e)
dotBackground = linear-gradient(90deg, dark0 (dotSpace - dotSize), transparent 1%) center,
	linear-gradient(dark0 (dotSpace - dotSize), transparent 1%) center, dotColor;