dotColor = rgba(52, 58, 80, 1);
dotSpace = 75px;
dotSize = 2px;

dark0 = rgba(28, 31, 44, 1);
dark1 = rgba(35, 41, 54, 1);
dark2 = rgba(127, 110, 140, 1);
dark3 = rgba(48, 54, 74, 1);
dark4 = rgba(36, 42, 59, 1);

red0 = rgba(231, 72, 76, 1);
red1 = rgba(233, 70, 137, 1);

redGradient = linear-gradient(-40deg, red0, red1);
blueGradient = linear-gradient(-40deg, blue0, blue1);
greenGradient = linear-gradient(-40deg, green2, green1);
purpleGradient = linear-gradient(-40deg, purple0, purple1);
blueGreenGradient = linear-gradient(-40deg, blue2, green0);

iconShadowPink = drop-shadow(-2px 2px 2px rgba(232,69,137,0.5));

squareShadow = 2px 3px 24px -8px rgba(0, 0, 0, 0.5);
squareShadow-hovered = 2px 3px 18px rgba(0, 0, 0, 0.3);

blue0 = rgba(104, 117, 255, 1);
blue1 = rgba(57, 221, 255, 1);
blue2 = rgba(132, 167, 221, 1);

green0 = rgba(184, 245, 212, 1);
green1 = rgba(205, 237, 124, 1);
green2 = rgba(68, 211, 154, 1);

orange0 = rgba(252, 140, 71, 1);
orange1 = rgba(237, 205, 78, 1);

purple0 = rgba(112, 68, 196, 1);
purple1 = rgba(146, 103, 245, 1);

darkGradient = linear-gradient(50deg, rgba(dark0, 0.1), rgba(dark1, 0.75));
grayGradient = linear-gradient(45deg, #272d3d, #292e3e)
dotBackground = linear-gradient(90deg, dark0 (dotSpace - dotSize), transparent 1%) center,
	linear-gradient(dark0 (dotSpace - dotSize), transparent 1%) center, dotColor;