.Tests {
	display: column;
}

.AddIcon {
	cursor: pointer;
	margin-left: auto;
	border-radius: 100%;
	background: blueGradient;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	min-width: 24px;
	min-height: 24px;
	font-size: 18px;
	letter-spacing: 0;
	box-shadow: blueGreenShadow;
	text-shadow: iconShadow;
}